
//fonts
@font-face {
    font-family: BRFirma;
    src: url('../assets/BRFirma/BR\ Firma\ Font\ Family/BRFirma-Black.ttf'),
    url('../assets/BRFirma/BR\ Firma\ Font\ Family/BRFirma-Light.ttf'),
    url('../assets/BRFirma/BR\ Firma\ Font\ Family/BRFirma-SemiBold.ttf'),
    url('../assets/BRFirma/BR\ Firma\ Font\ Family/BRFirma-Thin.ttf');
}

a:link {
    text-decoration: none;
}
// sidebar
$sidebar-primary : #7E51FF;
$sidebar-dark-primary: #1C1335;
$sidebar-light: #ffffff;


//form
$button-form: #FA4A84;
$border-danger: #FA4A84;
$form-input: #F4F8FB;
$form-input2: #8397AB;
$form-input3: #E0E2EC;
$form-input-border: #00D2FF;
$form-heading-color: #1B003B;





































































































































































































































































































































































































































































































