//Responsiveness
img {
    max-width: 100%;
    height: auto
}


@media screen and (max-width: 800px) {
   
    .sidebar-signup {
        width: 100%;
        align-items: center;
        position: absolute;
        height: 600px;
        padding-left: 10%;
    }
    .sidebar-signin {
        width: 100%;
        align-items: center;
        position: absolute;
        height: 600px;
        padding-left: 10%;
    }
    .form-container {
        margin-left: 25px;
        margin-top: 690px;
        margin-bottom: 200px;
        padding: 3px;
        width: 100%;
        
    }
    .already #member{
        display: none;
    }
    .already1 #member{
        display: none;
        
    }
    
    .already-text {
        color: $button-form;
        text-decoration: none;
    }

    .form-container-child {
        width: 300px;
        height: auto;
        padding: 4px; 
                                                                                                                                                                                                                 ;    
       }

       .form-container-phone-input {
        width: 180px;
        margin-right: 0;
        padding-right: 0;
        height: 44px;
        font-size: 14px;
        background-color: $form-input;
        border: none;
        border-width: 0;   
        margin-bottom: 10px;
        margin-top: 10px;
        float: right;
        padding-left: 2px;
          
    }
    

       .form-container-input {
        width: 300px;
        height: 44px;
        background-color: $form-input;
        border: none;
        border-width: 0;
        margin-bottom: 10px;
        font-size: 14px;
        margin-top: 10px;
        padding-left: 10px;
      }
      

       .form-container-button-div {
        width: 300px;
        background-color: $button-form;
        margin-left: 0;
        //border-width: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 10px;
      }
       
    
}
